# Flipkart Mobiles

In [360]:
import requests as req
import pandas as pd
from bs4 import BeautifulSoup

In [364]:
mobile_name=[]
reviews=[]
prices=[]
ratings=[]

for i in range(1,338):
    response=req.get('https://www.flipkart.com/search?q=mobile&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='+str(i))
    soup=BeautifulSoup(response.content,'html.parser')
    
    for mobile in soup.select('._4rR01T'):
        mobile_name.append(mobile.text)

    for review in soup.select('._13vcmD'):
        reviews.append(review.next_sibling.text.split(' ')[0])
            
    for rating in soup.select('._1lRcqv ._3LWZlK'):
        ratings.append(rating.text)

    for price in soup.find_all('div',class_='_30jeq3 _1_WHN1'):
        prices.append(price.text)

len(mobile_name),len(ratings),len(reviews),len(prices)

(984, 984, 984, 984)

In [365]:
mobile_df=pd.DataFrame({'name':mobile_name,'ratings':ratings,'reviews':reviews,'price':prices})
mobile_df

                                         name ratings  reviews   price
0                POCO C50 (Royal Blue, 32 GB)     4.2    1,622  ₹5,749
1                POCO C51 (Royal Blue, 64 GB)     4.3      709  ₹6,999
2      Infinix SMART 7 (Emerald Green, 64 GB)     4.3    1,924  ₹7,299
3         Infinix SMART 7 (Azure Blue, 64 GB)     4.3    1,924  ₹7,299
4        Infinix SMART 7 (Night Black, 64 GB)     4.3    1,924  ₹7,299
..                                        ...     ...      ...     ...
979               POCO C3 (Lime Green, 32 GB)     4.3   26,551  ₹9,999
980                                 MTR M2200     4.3        4    ₹890
981                           Easyfone Marvel     3.9       23  ₹2,490
982  Tecno Spark Go 2022 (Iris Purple, 32 GB)     4.2       63  ₹6,999
983           OPPO A15 (Dynamic Black, 32 GB)     4.3      122  ₹9,490

[984 rows x 4 columns]